.menu {
    height:60px; 
    background-color:#151c48; 
    display: flex;
    border-radius: 20px;
}
    
    
body {
    background-color: #ffffff;
    margin-left: 10%!important;
    margin-right: 10%!important;
    /* overflow: hidden; */
}

table {
    width: 100%;
    font: 19px Arial;
}

table, td{
    border: solid 2px #35699c;
    border-collapse: collapse;
    padding: 3px 4px;
    text-align: center;
    min-height: 50px;
}

th {
    border: solid 2px #215589;
    padding: 1px 4px 15px 4px;
    text-align: center;
}
img {
    width: 64%;
}

.row {
    bottom: 0%;
}

.column {
    float: left;
    width: 49%;
    border: #151c48 1px solid;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact {
    text-align: left;
    width: 50%;
    height: 300px;
}

.right {
    text-align: right;
    width: auto;
}

a {
    color: black;
}

footer {
    background-color: #151c48;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.model-view {
    width: 100%;
    height: auto;
    background-color: #f00;
    color: silver;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.w3-card.test {
    background-color: #dfdad6;
    text-align: -webkit-center;
}

.w3-top {
    position: relative
}

.cnav {
    position: fixed;
    top: 0;
    padding-right: 20%!important;
}

.product-details {
    max-height: 250px;
    overflow: auto;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item video {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}